@using MbmStore.Models
@model MbmStore.ViewModels.InvoicesListViewModel

@{
    ViewBag.Title = "Invoices";
}

<h2>Invoices</h2>
<br /><br />
@using (Html.BeginForm("Index", "Invoice", FormMethod.Post))
{
    @Html.DropDownList("CustomerId", null, "Select customer", new { @class = "custom-select" })
    <button type="submit" class="btn btn-outline-success">Show invoices</button>
}
<br /><br />
@if (Model.Invoices.OfType<Invoice>().Count() > 0)
{
    <div class="col-10 align-self-center">
        @foreach (Invoice invoice in Model.Invoices)
        {
            <strong>@invoice.Customer.FirstName @invoice.Customer.LastName</strong><br /><br />
            <div class="row">
                <div class="col-lg-1">
                    <em>Order #</em>
                </div>
                <div class="col-lg-8">
                    <em>Products</em>
                </div>
                <div class="col-lg-1">
                    <em>Product #</em>
                </div>
                <div class="col-lg-1">
                    <em>Quantity</em>
                </div>
                <div class="col-lg-1">
                    <em>Price</em>
                </div>
            </div>
            <br />
            <div class="row">
                @foreach (OrderItem order in Model.OrderItems
                    .Where(order => order.InvoiceId == invoice.InvoiceId)
                )
                {
                    <div class="col-lg-1">
                        @order.OrderItemId
                    </div>
                    <div class="col-lg-8">
                        @order.Product.Title
                    </div>
                    <div class="col-lg-1">
                        @order.Product.ProductId
                    </div>
                    <div class="col-lg-1">
                        @order.Quantity
                    </div>
                    <div class="col-lg-1">
                        @String.Format("{0:0.00}", order.TotalPrice)
                    </div>
                }
            </div>
            <br />
            <div class="row">
                <div class="col-lg-11 text-right">
                    Total Price:
                </div>
                <div class="col-lg-1">
                    @String.Format("{0:0.00}", invoice.TotalPrice)
                </div>
            </div>
            <br />
            <br />
        }
    </div>
}