@using MbmStore.Models


@{
    ViewBag.Title = "Invoices";
}

<h2>Invoices</h2>
<br /><br />
@using (Html.BeginForm("Index", "Invoice", FormMethod.Post))
{
    @Html.DropDownList("CustomerId", null, "Select customer", new { @class = "custom-select" })
    <button type="submit" class="btn btn-outline-success">Show invoices</button>
}
<br /><br />
<div class="col-10 align-self-center">
    @foreach (Invoice invoice in ViewBag.Invoices)
    {
        <strong>@invoice.Customer.firstName @invoice.Customer.lastName</strong><br /><br />
        <div class="row">
            <div class="col-lg-9">
                <em>Products</em>
            </div>
            <div class="col-lg-3">
                <em>Price</em>
            </div>
        </div>
        <br />
        <div class="row">
            @foreach (OrderItem item in invoice.OrderItems)
            {
                <div class="col-lg-9">
                    @item.Product.Title
                </div>
                <div class="col-lg-3">
                    @item.Product.Price
                </div>
            }
        </div>
        <div class="row">
            <div class="col-lg-9 text-right">
                Total Price:
            </div>
            <div class="col-lg-3">
                @String.Format("{0:0.00}", invoice.TotalPrice)
            </div>
        </div>
        <br />
        <br />
    }
</div>