@using MbmStore.Models
@model MbmStore.ViewModels.ProductsListViewModel

@if (Model.Products.OfType<Book>().Count() > 0)
{
    foreach (Book book in Model.Products.OfType<Book>().ToList())
    {
    <tr>
        <td style="width: 200px;">
            <img class="card-img-top" src="~/Content/Images/@book.ImageUrl" style="width: 100%;" />
        </td>
        <td class="text-left">
            <h4>@book.Title</h4>
            Author: @book.Author<br />
            Published: @book.Publisher<br />
            Published: @book.Published<br />
            ISBN: @book.ISBN<br />
        </td>
            <td class="text-center align-middle">
            Price: @String.Format("{0:0.00}", book.Price)<br /><br />
            @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
            {
                @Html.Hidden("ProductId", book.ProductId)
                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                @Html.DropDownList("Quantity", null, null, new { @class = "custom-select" })<br /><br />
                <input type="submit" class="btn btn-success" value="Add to cart" />
            }
        </td>
            <td class="text-center align-middle">
            <a href="#" class="btn btn-primary">View book details</a>
        </td>
    </tr>
    }
}