@model MbmStore.Models.MusicCD
@using MbmStore.Models

<tr>
    <td style="width: 200px;">
        <img class="card-img-top" src="~/Content/Images/@Model.ImageUrl" style="width: 100%;" />
    </td>
    <td class="text-left">
        <h4>@Model.Title</h4>
        Artist: @Model.Artist<br />
        Released: @Model.Released<br />
        Album duration: @Model.GetPlayingTime()
    </td>
    <td class="text-center align-middle">
        Price: @String.Format("{0:0.00}", Model.Price)<br /><br />
        @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
        {
            @Html.Hidden("ProductId", Model.ProductId)
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
            //@Html.DropDownList("Quantity", null, null, new { @class = "custom-select" })<br /><br />
            <input type="submit" class="btn btn-success" value="Add to cart" />
        }
    </td>
    <td class="text-center align-middle">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#TrackList@(Model.ProductId)">
            Track list
        </button><br /><br />
        <a href="#" class="btn btn-primary">View music details</a>
    </td>
</tr>


<!-- Modal -->
<div class="modal fade" id="TrackList@(Model.ProductId)" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                @{ int i = 1; }
                @foreach (Track track in Model.Tracks)
                {
                    <button type="button" class="list-group-item list-group-item-action justify-content-between">
                        <div>
                            @i<span>.&nbsp;</span> @track.Title
                        </div>
                        <span class="badge badge-default badge-pill">
                            @track.Length.ToString(@"mm\:ss")
                        </span>
                    </button>

                    i++;
                }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>