@using MbmStore.Models
@model MbmStore.ViewModels.ProductsListViewModel

@{
    ViewBag.Title = "Catalogue";
}

<h2>Catalogue</h2>
@using (Html.BeginForm("Index", "Cart"))
{
    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
    <input type="submit" class="btn btn-success" value="View Cart" />
}
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Information</th>
            <th class="text-center">Order</th>
            <th class="text-center">Details</th>
        </tr>
    </thead>
    <tbody>

        @Html.Partial("ProductSummaryBook", null)

        @Html.Partial("ProductSummaryMusicCD", null)

        @Html.Partial("ProductSummaryMovie", null)

    </tbody>
    <tfoot>
        <tr>
            <td colspan="4" class="text-center">
                @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
            </td>
        </tr>
    </tfoot>
</table>
